
.faq {
  max-width: 600px;
  overflow: auto;
  margin: 50px 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: rgb(243, 244, 246);
}
.message {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.bot-message img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.human-message {
  display: flex;
  align-items: center;
  flex-direction:row-reverse;
   margin: 10px 0;
}
.human-message img {
  width: 40px;
  height: 40px;
}

.bot-message p, .user-message p {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
}
.title {
  display: inline-block;
      font-size: 32px;
      color:#fff;
      border-radius:8px;
background:linear-gradient(#2671d8,#1f66ca 98.7%,#1a59b1 98.7%,rgba(0,0,0,0) 99.5%,rgba(0,0,0,0));
      padding: 0px 0px 3px;
      line-height: 1.2em;
      font-weight: 500;
      margin-bottom: 20px;
      width:100%
}

body{
  margin: 0px;
  padding: 0px;
}
.button-container {
 display: flex;
     align-items: center;
     justify-content: center;
}
.button-container-listening {
 display: flex;
     align-items: center;
     gap: 32px;
     justify-content: center;
     margin: -5px;
}

input {
            width: 80%;
            /* height: 64px; */
            padding: 10px;
            box-sizing: border-box;
        }

.container-text {
          display:flex;
          align-items:center;
        }
        .clear-btn {

    padding: 10px 15px;
     border: none;
     border-radius: 5px;
     background-color: #38ac69;
     color: white;
     cursor: pointer;
            background: #f44336;
            color: white;

        }
         .submit-container {
         margin:24px;
        gap:8px;
                   display:flex;
                   flex-direction:column;
                   align-items:center;
                }
.text-area:focus {
  border-color: #007bff;
  outline: none;
}

.button-container {
  margin-top: 0px;
}

.button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #38ac69;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #009b5d;
}

/* Avatar Styles */
.avatar {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  background-image: url('../public/avatar.png'); /* Default Avatar Image */
  background-size: cover;
  transition: transform 0.3s;
}
.chatbot {
width: 96px;
  height: 104px;
  background-image: url('../public/chatbot1.png'); /* Default Avatar Image */
  background-size: cover;
  transition: transform 0.3s;
}

.recording-indicator {
  color: red;
  font-size: 20px;
  margin-bottom: 20px;
  animation: blink 1s infinite;
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
  }
.listening {
  width: 50px;
  height: 50px;
  margin: 20px;
  background-image: url('../public/listening.gif'); /* Default Avatar Image */
  background-size: cover;
  transition: transform 0.3s;
}
.avatar.greeting {
  transform: scale(1.1);
  background-image: url('../public/greeting-avatar.png'); /* Greeting Avatar Image */
}

.avatar.thinking {
  transform: rotate(5deg);
  background-image: url('../public/thinking-avatar.png'); /* Thinking Avatar Image */
}

.accordion-faq-container {
  max-width: 600px;
  margin: 0 auto;
}

.accordion-faq-item {
  margin-bottom: 1rem;
}

.accordion-question {
  background: #f1f1f1;
  border: none;
  padding: 1rem;
  text-align: left;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.accordion-answer {
  background: #fff;
  padding: 1rem;
  border: 1px solid #ddd;
  border-top: none;
}

.grid-container {
  display: grid;
  grid-template-columns:2fr 1fr;
  grid-template-rows: 90vh;
}

::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Set the footer to stick to the bottom of the viewport */
footer {
  position: sticky;
  bottom: 0;
  background-color: #95AAB6; /* Adjust the background color as needed */
  padding: 2px; /* Add padding for spacing */
  text-align: center; /* Center the content within the footer */
}
  
  .footer-container {
  background-color: #95AAB6;
  justify-content: center;
  display: flex;}
  
  .footer-container a {
  color: #F5F6F7;
  padding: 42px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: medium;}
  
  .footer-left {
  margin-right: auto}
  
  .fa:hover {
  color: #95AAB6;}
  
  .footer-icons {
  justify-content: space-between;
  padding: 16px 64px 0px 0px}
  
  .footer-icons ul {
  list-style-type: none;}
  
  .footer-icons li {
  display: inline-block;}
  
  .footer-right {
  margin-left: auto}
  
  .copyright 
  {background-color: #95AAB6;
  overflow: hidden;}